<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

	<suite guice-stage="DEVELOPMENT" name="Failed suite [Failed suite [Default suite]]">
	<listeners>
		<listener class-name="PageObject.Testlistener"></listener>
	</listeners>
  <test name="Default test(failed)(failed)">
    <classes>
      <class name="Framework.test">
        <methods>
          <include name="test"/>
        </methods>
      </class> <!-- Framework.test -->
    </classes>
  </test> <!-- Default test(failed)(failed) -->
</suite> <!-- Failed suite [Failed suite [Default suite]] -->
	